#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  top: 0px;
  position: fixed;
  justify-content: center;
  display: flex;
  width: 100%;
}

.todo-app {
  padding: 2rem;
  background-color: wheat;
  border-radius: 25px;
}

.input-box {
  height: 35px;
  font-size: 20px;
  background-color: white;
  color: black;
}
